{% render 'partials/head.liquid' %}

<h1>Oncollaboration</h1>

<input type="text" placeholder="Search...">
<ul>
    {% for category in categories %}
        <li>{{ category.name }}</li>
    {% endfor %}
</ul>

<h2>Webinars</h2>
{% for webinar in webinars %}
    <article>
        <img src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}" width="150" height="100"
            style="object-fit: cover" />
        <p>{{ webinar.title }}</p>

        {% for speaker in webinar.speakers %}
        <p> {{ speaker.avl_speakers_id.fullname }}</p>
        {% endfor %}

        {% for categories in webinar.categories %}
        <p> {{ categories.avl_categories_id.name }}</p>
        {% endfor %}
    </article>
{% endfor %}


{% render 'partials/foot.liquid' %}